/* --- RESETS --- */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,
h2,
p {
    margin: 0;
}

/* --- GENERAL SETUP --- */
:root {
    font-family: 'Karla', sans-serif;
    /* COLORS */
    --white: #FFFFFF;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--white);
    text-shadow: 1px 1px 2px #474747;
}

/* --- TYPOGRAPHY --- */
.weather-text {
    font-size: 1.7rem;
}

.time-text {
    font-size: 5rem;
}

.location-text {
    font-size: 1.3rem;
}

/* --- LAYOUT --- */
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.weather,
.location {
    margin: 1.5em;
}

.weather {
    align-self: flex-end;
}

.location {
    align-self: flex-start;
    margin: 2em;
}

.temperature-container {
    display: flex;
    justify-content: flex-start;
}

.temperature {
    font-size: 3rem;
    align-self: center;
}

.temperature-location {
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-top: -1em;
}

.weather-location {
    font-size: 2rem;
    /* justify-self: flex-end; */
}